.container {
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    padding-top: 20px; 
}


h1 {
    font-size: 48px; 
    color: #000000;
    border-bottom: 2px solid #000000; 
    display: inline-block; 
    padding-bottom: 10px; 
}


.box {
    padding: 16px; 
    border: 2px solid #000000; 
    border-radius: 8px; 
}

.box img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.box h2 {
    font-size: 24px;
    margin-top: 15px;
}

.box p {
    font-size: 18px;
    color: #000000;
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px; 
        border-bottom: 1.5px solid #000000; 
    }

    .box h2 {
        font-size: 20px;
    }

    .box p {
        font-size: 16px;
    }
}


@media (max-width: 576px) {
    h1 {
        font-size: 28px; 
        border-bottom: 1px solid #000000; 
    }

    .box h2 {
        font-size: 18px;
    }

    .box p {
        font-size: 14px;
    }
}